<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>

      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">Posts</h2>
        <%= render @user.posts %>
        <%= user_posts(current_user) %>
      </div>
    </div>

    <h2>Favorite Posts</h2>
    <div class="media">
      <% @user.all_favorite_posts.each do |post| %>
        <% user_avatar = author_gravatar(post.user) %>
        <% if user_avatar %>
          <div class="media-left">
            <%= image_tag user_avatar, class: 'media-object' %>
          </div>
        <% end %>
        <div class="media-body">
          <%= render post %>
        </div>
        <br />
      <% end %>
      <%= user_favorites(current_user) %>
    </div>

    <div class="media"
      <div class="media-body">
        <h2 class="media-heading">Comments</h2>
          <%= render @user.comments %>
          <%= user_comments(current_user) %>
      </div>
    </div>

  </div>
</div>
